.create-album-form{
  margin-top: 20px;
  border: 1px solid;
  padding: 20px;
  .form-control{
    display: flex;
    flex-direction: column;
    .create-album-label-element{
      font-family: 'Courier New', Courier, monospace;
      color: white;
    }
    #create-album-title{

    }
    #create-album-cover{

    }
    #create-album-realease{

    }
    #create-album-genre{

    }
    
  }
  .create-album-textarea-wrapper{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: flex;
    gap: 5px;
    flex-direction: column;
    #create-album-description{

    }
  }

  
  .select-element-wrapper{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 200px;
    
    .select-element-label{
      font-family: 'Courier New', Courier, monospace;
      color: white;
    }
    #create-album-select-element{

      .create-album-option-element{
  
      }
    }

  }
 

  .create-album-button{

  }
}