@use '../StyleComponents/responsive';
@use '../StyleComponents/variables';

.navigation-element {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  @include responsive.nav-m {
    justify-content: center;
  }

  .navigation-list {
    display: flex;
    gap: 30px;
    margin-right: 30px;
    @include responsive.nav-m {
      gap: 20px;
    }
    @include responsive.nav-s {
      display: block;
      margin-right: 0px;
      padding: 0px;
    }
    .navigation-list-item{
      list-style: none;
      .navigation-link-item {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;    
      }
      .active {
        color: rgb(73, 245, 234);
        font-weight: bold;
      }
    }
  }
}