@use '../../StyleComponents/responsive';
@use '../../StyleComponents/variables';

.album-page-wrapper{

.button-1{
  @include responsive.s {
    display: block;
    }
}
  .single-album-item{
    text-align: center;
    padding: 20px;

    .album-title{
      background-color: black;
      color: white;
      padding: 5px;
      text-transform: capitalize;
    }
    .album-creator-name{
      margin: 10px;
      font-size: 30px;

    }
    .album-genre-title{
      display: block;
      color: white;
      background-color: black;
      margin: 0px;
    }
    .album-genre{
      display: block;
    }
    .album-description-title{
      display: block;
      color: white;
      background-color: black;
      margin-bottom: 0px;
    }
    .album-description{
      text-align: center;
      margin: 0;
      margin-bottom: 20px;
    }
    .songs-amount-content-wrapper{
      .songs-in-album-title{
        margin: 0px;
        color: white;
        background-color: black;
      }
      .songs-length{
        display: block;
        font-size: 30px;
        font-weight: bold;
      }
    }
    .album-release-date{
      display: block;
    }
    .album-image{
      max-width: 400px;
      height: 400px;
      object-fit: cover;
      @include responsive.s {
        width: 100%;
        height: unset;
        object-fit: unset;
        }
    }
  }
}