@use '.././StyleComponents/responsive';
@use '.././StyleComponents/variables';

.albums-page-title{
  background-image: url("/src/Images/pexels-vishnu-r-nair-1105666.jpg");
  object-fit: contain;
  width: 100%;
  padding-bottom: 20px;
  color: whitesmoke;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  margin: 0;
  margin-top: 20px;
  font-size: 30px;
  text-transform: uppercase;
  @include responsive.s {
    text-align: center;
    font-size: 24px;
  }
}


.album-page-wrapper{
  .form-wrapper{

    .form-wrapper-title{
      color: white;
      text-transform: uppercase;
      padding: 20px;
      border-radius: 10px;
      .form-wrapper-subtitle{
        
      }
    }
  }

  .create-albums-link-button{

  }

  .albums-wrapper{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
    @include responsive.l {
      grid-template-columns: 1fr 1fr
    }
    @include responsive.m {
      display: block;
    }
  }
}