@use '../../StyleComponents/responsive';
@use '../../StyleComponents/variables';

.song-writer-item{
background-color: bisque;
border: 1px solid;
padding: 20px;
display: flex;
flex-direction: column;
justify-content: space-between;

.button-1{
  text-align: center;
}
  .song-writer-content-wrapper{
   
    .song-writer-name{
      margin: 0px;
      @include responsive.s {
        text-align: center;
      }
    }
    .song-writer-image-content-wrapper{
      
      .song-writer-image{
        width: 100%;
        height: 300px;
        display: block;
        object-fit: cover;
        @include responsive.l {
          object-fit: contain;
        }
        @include responsive.m {
          height: unset;
        }
      }
      .song-writer-biography{
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
      }
    }

  }
}